////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//// ALL ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face
    font-family 'Gilroy'
    src url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal
@font-face
    font-family 'Gilroy-Bold'
    src url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype')
    font-weight normal
    font-style normal
    
html, body {
    scrollbar-color: #00afb0 #000000; /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: thin  /* толщина */
}
    
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
    background-color: #000000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background: #00afb0;
}

::-webkit-scrollbar-thumb:hover {
    background: #069e9f;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background-color: #000000;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background-color: #000000;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background-color: #000000;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background-color: #000000;
}


*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'Gilroy', sans-serif
    font-size 18px
    color #111010
    line-height 26px
    
    background #e5e5e5
    
.main
    max-width 1440px
    margin 0 auto
    background #FFF9F9

.container
    max-width 1230px
    margin 0 auto
    padding 0 15px

.row
    display flex
    flex-wrap wrap
    margin 0 -15px

.col
    padding 0 15px
    
.btn-phone
    display inline-block
    position relative

    font-weight: 500;
    font-size: 20px;
    line-height: 26px;

    color: #FFFFFF;
    background: #05385F;

    padding: 22px 15px;

    &:hover
        cursor pointer

    &:after
        content: ''
        position absolute
        right: -78px;
        bottom: 0;
        border: 39px solid transparent;
        border-left: 39px solid #05385f;

    span:after
        content: ''
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        width: 21px;
        height: 33px;

        background: url(/images/phone.png) no-repeat;
    

.banner
    height: 763px;
    background: #E9FF88;
    display: flex;
    
    padding-top: 20px;


    &-text-wrap
        flex-basis: 50%;
        padding 50px 30px 50px 80px

    &-title
        font-weight: bold;
        font-size: 80px;
        line-height: 99px;
        
        color: #FE0AB7;

    &-subtitle
        font-size: 40px;
        line-height: 48px;

        color: #111010;
        
        text-align: right;
        padding-right: 25%;
        
        span:first-child
            display inline-block
            padding-right 15px
        
        span:last-child
            display inline-block
            transform: rotate(-18.9deg);
            
    &-text
        font-size: 18px;
        line-height: 26px;
        
        color: #FE0AB7;
        
        margin-top: 50px;
        margin-bottom 30px
        

        &-notebook
            font-size: 18px;
            line-height: 26px;
            font-style: italic;

            color: #111010;
            
            padding 15px 10px
            padding-left: 35px;
            margin-bottom: 30px
            
            background: url(/images/notepad.png) 0 bottom no-repeat;
            
    &-text-2
        width 440px
        float right
        
    &-text-3
        padding-top: 15px;
        padding-bottom: 15px;
        clear both
        
    &-button-wrap
        margin 50px 10px 30px
        text-align: center;

    &-image
        flex-basis: 50%;
        flex-shrink: 0;

        background: url(/images/banner.png) 0 bottom no-repeat,url(/images/baner-sub.png) 58px 105% no-repeat,url(/images/Unext-Camp.png) 0 calc(100% - 10px) space;


// END BANNER

.levon
    &-sheet
        margin 50px 0
        background: #FFF9F9;
        
        .btn-phone
            margin-top 70px
            
        .bla-bla
            position: absolute;
            width: 233px;
            height: 145px;
            right: -25%;
            top: -20px;
            
            font-style: italic;
            font-size: 12px;
            line-height: 18px;
            
            padding 22px 22px 14px 22px


            color: #111010;

            background: #FFFFFF;
            
            // &-tail
            //     position: absolute;
            //     content: '';
            //     width: 0;
            //     height: 0;
            //     bottom: -54px;
            //     left: 20px;
            //     border: 3.5em solid;
            //     border-color: transparent #111010 #111010 transparent;
            //     transform: rotateZ(190deg);
                
            // &-tail-2
            //     position: absolute;
            //     content: '';
            //     width: 0;
            //     height: 0;
            //     bottom: -54px;
            //     left: 20px;
            //     border: 3.5em solid;
            //     border-color: transparent red red transparent;
            //     transform: rotateZ(190deg);
            
            // &:before
            //     position: absolute;
            //     content: '';
            //     width: 0;
            //     height: 0;
            //     bottom: -60px;
            //     left: 20px;
            //     border: 3.5em solid;
            //     border-color: transparent white white transparent;
            //     transform: rotateZ(190deg);

            &:after
                position absolute
                content: ''
                left: 10px;
                bottom: 10px;
                width: 100%;
                height: 100%;
                border: 3px solid;
            
            span
                display block
                margin-bottom 20px
                color #fea0b7
        
    &-wrap
        display flex
        
    &-title
        font-family 'Gilroy-Bold'
        font-size: 60px;
        line-height: 74px;
        text-align: center;

        color: #FE0AB7;
        
    &-image-wrap
        flex-basis: 50%;
        flex-shrink: 0;
        
        position: relative;
        

        &:before
            position absolute
            content: ''
            width: 493px;
            height: 626px;
            left: 15%;
            bottom: 80px;
            
            background: #e9ff88
            
        &:after
            position: absolute;
            content: '';
            width: 55%;
            top: 0;
            left: 0;
            bottom: 30%;
            background: url(/images/Unext-Camp-2.png) 0 calc(100% - 10px) space;
            background-size: 100% 15%;
            
    &-image
        position absolute
        width: 493px;
        height: 650px;
        left: 15%;
        bottom: 80px;

        background: url(/images/levon.png) 0 bottom no-repeat,url(/images/levon-sub.png) 45px top no-repeat;
        
        z-index 1
        

    &-text
        flex-basis: 50%;

        font-size: 18px;
        line-height: 26px;

        color: #111010;
        
        padding 40px 80px 80px
        padding-right 120px
        
        :nth-child(even)
            color #FE0AB7
        
        p
            margin 44px 0

// END LEVON

.col-7
    width: 62%
.col-5
    width 38%
    
    & + .col-7
        padding-left: 20px;
    
.img-respons
    display inline-block
    max-width 100%

.program
    
    padding-top 60px
    
    h3
        font-family 'Gilroy-Bold'
        font-size: 40px;
        line-height: 50px;
        color: #FE0AB7
        margin-bottom: 15px;
        
    .itm:nth-child(even) h3
        text-align center
        
    .list p
        position relative
        display: inline-block;
        padding: 10px 15px;
        margin: 10px 20px;
        margin-left: 0;
        
        svg
            position absolute
            content ''
            top 0
            left 0
        
    .btn-phone
        margin 40px 0

.heder
    display flex
    // margin-top 25px
    justify-content space-between
    align-items center
    flex-wrap wrap
    padding 0 23px 0 23px
    .m_menu
        display inline-flex
    a
        text-decoration none
        padding-right 60px
        font-size 15px
        font-weight 700
    .burger
        img
            width 14px

.title
    font-weight bold
    font-size 60px
    line-height 74px
    text-align center
    color #FE0AB7
    margin-bottom 40px

.be-brave
    position relative

    padding-top 70px
    padding-bottom 90px
    background #334e62
    
    &:before
        position absolute
        content ''
        background url("/images/be-brave-0.svg") no-repeat
        width: 110px;
        height: 85px;
        top: 25%;
        left: 0px;
    

    .bg-absolute
        position absolute
        overflow: hidden;
        left: 0;
        top: 0;
        width 100%
        height 100%
            
        &:before
            position absolute
            content ''
            background url("/images/be-brave-2.svg") no-repeat
            width: 195.1px;
            height: 223.08px;
            top: -30px;
            right: -20px;
            transform: rotate(15deg);
        &:after
            position absolute
            content ''
            background url("/images/be-brave-1.svg") no-repeat
            width 102px
            height 114px
            right 0
            bottom  75px


    .titles
        max-width 924px
        margin 0 auto 60px auto
        .title
            text-align left
            &:nth-child(2)
                text-align right
                margin-top -35px
                transform rotate(-3.92deg)
    .text
        max-width 1060px
        margin 0 auto
        font-size 40px
        line-height 60px
        text-align center
        color #FFFFFF
        .img1
            margin 0px -16px -14px -12px
        .img2
            margin -13px -51px -20px -11px
        .img3
            margin -11px -18px -17px -18px

.our-programs
    padding-top 38px
    background url("/images/our-programs-bg.png") repeat-x top center
    .container
        max-width 1260px
    .items-top
        display flex
        flex-wrap wrap
        align-items center
        justify-content space-between
        .item
            position relative
            span
                position absolute
                top 50%
                left 50%
                width 222px
                height 51px
                background #FFF9F9
                text-align center
                font-weight bold
                font-size 30px
                line-height 51px
                transform translate(-50%, -50%)
                color #05385F
        .item-1
            background url("/images/items-top-img-1.png") no-repeat center
            width 365px
            height 311px
        .item-2
            background url("/images/items-top-img-2.png") no-repeat center
            width 349px
            height 293px
        .item-3
            background url("/images/items-top-img-3.png") no-repeat center
            width 338px
            height 291px
        .item-4
            background url("/images/items-top-img-4.png") no-repeat center
            width 351px
            height 307px
            margin-left 21px
        .item-5
            background url("/images/items-top-img-5.png") no-repeat center
            width 356px
            height 299px
            margin-left 90px
    .items-top-end
        margin-top -60px
        justify-content center

.business-club
    padding-top 90px
    padding-bottom 40px
    background url(/images/bg.png) no-repeat top -74px right -10px
    .container
        max-width 1440px
    .title
        text-align left
        margin-bottom 0
        p
            display inline-block
        span
            display block
            font-weight normal
            font-size 30px
            line-height 36px
            text-align right
            color #111010
            margin-right 75px
            margin-top -6px
    .title-sub
        text-align center
        color #FE0AB7
        margin-top -30px
        transform rotate(-4.2deg)
        margin-bottom 70px
    .list
        display flex
        flex-wrap wrap
        max-width 1108px
        margin 0 auto
        align-items center
        justify-content space-between
        .items
            width auto
        .item
            display flex
            flex-wrap wrap
            align-items center
            margin-bottom 60px
            figure
                width 45px
                margin-right 40px
            p
                width calc(100% - 85px)
                max-width 250px

.our-advantages
    overflow hidden
    .wrapper
        max-width 1088px
        width 100%
        position relative
        margin 0 auto
        &:after
            content ''
            background url("/images/bg.png") no-repeat
            width 313px
            height 235px
            position absolute
            right -132px
            top -32px
        .block
            z-index 10
            background url("/images/our-advantages-bg.png") no-repeat bottom center
            position relative
            padding 44px 95px 125px 144px
            &:before
                content ''
                background url("/images/our-advantages-bg-1.png") no-repeat
                position absolute
                width 123px
                height 104px
                top -21px
                left -34px
            &:after
                content ''
                background url("/images/our-advantages-bg-2.png") no-repeat
                position absolute
                width 108px
                height 108px
                top -5px
                right -33px
        .desc
            font-style italic
            font-size 20px
            color #FE0AB7
            margin-bottom 55px
        .list
            display flex
            flex-wrap wrap
            .items
                width calc(50% - 45px)
                & + .items
                    margin-left 45px
            .item
                display flex
                flex-wrap wrap
                align-items center
                min-height 78px
                & + .item
                    margin-top 20px
                figure
                    margin-right 25px
                    width 54px
                p
                    width calc(100% - 79px)

.uchasniki
    padding-top 80px
    padding-bottom 85px
    background rgba(254, 10, 183, 0.3)
    .title
        max-width 600px
        margin 0 auto 79px auto
        text-align center
        h3
            font-weight 700
            font-size 60px
            line-height 74px
            color #334E62
            margin 0
        p
            margin -5px -38px 0 0
            text-align right
            font-size 30px
            line-height 36px
            color #111010
    .pipl
        display flex
        margin 0 auto
        max-width 1200px
        flex-wrap wrap
    .piple
        width 33.33%
        display flex
        margin-bottom 50px
        align-items center
        p
            margin-left 5px

.security
    background url("/images/security-img-3.png") no-repeat bottom 85px right
    position relative
    padding-top 80px
    &:before
        background url("/images/security-img-1.png") no-repeat top left
        width 122px
        height 122px
        left 100px
        top 80px
    &:after
        background url("/images/security-img-2.png") no-repeat top left
        width 197px
        height 297px
        left 150px
        top 350px
    .container
        max-width 651px
    .desc
        margin-bottom 20px
        text-align center
    .desc-2
        color #FE0AB7
    .item
        background url("/images/item-security.png") no-repeat center
        max-width 620px
        width 100%
        margin 0 auto 20px auto
        padding 22px 8px 30px 70px
        p
            position relative
            &:after
                content ''
                background url("/images/check-security.svg") no-repeat center
                width 17px
                height 19px
                position absolute
                left -24px
                top 4px

.security:after,
.security:before
    content ''
    position absolute

.soc_m
    margin-bottom 35px
    .container
        max-width 770px
        margin 0 auto
        .opisanie
            text-align center
            h1
                font-size 60px
                font-weight 700
                line-height 74px
                color #FE0AB7
            p
                font-weight 400
                font-size 18px
                line-height 26px
                text-align center
                color #000000
        .soc_botom
            justify-content center
            display flex
            flex-wrap wrap
            .battom
                width 173px
                height 46px
                background #E9FF88
                margin-left 50px
                box-shadow 6px 6px  #BACB6E
                a
                    padding 8px 0px 0px 9px
                    display flex
                    flex-wrap wrap
                    text-decoration none
                    font-weight 500
                    font-size 18px
                    line-height 26px
                    color #05385F
                img
                    padding-right 19px

.futer
    background-color #E9FF88
    img
        margin auto
        padding-top 44px
        display block
    .menu
        margin-top 52px
        text-align center
        a
            text-decoration none
            font-size 20px
            padding-right 60px
            font-weight 700
            line-height 24px
            color #05385F
    .contact
        justify-content center
        align-items center
        display flex
        flex-wrap wrap
        margin 0 auto
        p
            padding 0 20px 0 20px
            margin-top 45px
            font-size 18px
            line-height 26px
            color #111010
    .futer_copi
        display flex
        justify-content space-between
        flex-wrap wrap
        padding 0 23px 0 23px
        p
            font-size 12px
            line-height 26px
        a
            font-size 12px
            line-height 26px
            color #05385F
