@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy-Regular.woff) format('woff'), url(fonts/Gilroy-Regular.woff2) format('woff2'), url(fonts/Gilroy-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(fonts/Gilroy-Bold.woff) format('woff'), url(fonts/Gilroy-Bold.woff2) format('woff2'), url(fonts/Gilroy-Bold.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  color: #111010;
  line-height: 26px;
  background: #e5e5e5;
}
.main {
  max-width: 1440px;
  margin: 0 auto;
  background: #fff9f9;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}
